In [97]:
import pandas as pd
import numpy as np

In [98]:
df = pd.read_csv('/Users/irtiza/Documents/Scheduke maker/schdule formatted.csv',header=0)

In [99]:
df

,Timing,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day
0,8:30 AM \nto \n9:45 AM,Information Security and Ethics,BSCS-8,AUDITORIUM,96020,Dr. Irfan Nabi,Monday/Wednesday
1,8:30 AM \nto \n9:45 AM,NaN,NaN,EVENT HALL,NaN,NaN,Monday/Wednesday
2,8:30 AM \nto \n9:45 AM,Islamic Schalory Tradition,BSCS,MAC-1,96056,Dr. Wahab Suri,Monday/Wednesday
3,8:30 AM \nto \n9:45 AM,Financial Institutions and Markets,BBA-4,MAC-2,71189,Dr. Saqib Sharif,Monday/Wednesday
4,8:30 AM \nto \n9:45 AM,Institutional Economics,ECO - Elective,MAC-3,71273,Ms. Javeria Younas Abbas,Monday/Wednesday
...,...,...,...,...,...,...,...
1118,7:00 PM\n to\n 8:15 PM,NaN,NaN,MTS 6,NaN,NaN,Friday/Saturday
1119,7:00 PM\n to\n 8:15 PM,NaN,NaN,MTS 7,NaN,NaN,Friday/Saturday
1120,7:00 PM\n to\n 8:15 PM,NaN,NaN,MTS 8,NaN,Reserved for Graduate,Friday/Saturday
1121,7:00 PM\n to\n 8:15 PM,Parallel and Distributed Computing (Lab) Only ...,BSCS-6,MTL-4,95977,Dr. M. Saeed,Friday/Saturday
1122,NaN,NaN,NaN,NaN,NaN,NaN,Friday/Saturday

In [100]:
print("Column names:", df.columns)

Column names: Index(['Timing', 'Course Name', 'Class & Program', 'Room No.',
       'UMS Class  No.', 'Teacher', 'Day '],
      dtype='object')

In [101]:
def split_timing(timing):
    if pd.notna(timing):  # Check for NaN values
        try:
            # Split the timing string into start and end times
            start, end = timing.replace("\n", "").split("to")
            return start.strip(), end.strip()
        except ValueError:
            # Handle the case where the split operation fails
            print(timing.replace("\n", "").split(" to "))
            return None, None
    else:
        return None, None

In [102]:
# Apply the split_timing function to create 'Start Time' and 'End Time' columns
df[["Start Time", "End Time"]] = df["Timing"].apply(split_timing).apply(pd.Series)

In [103]:
# Drop the original 'Timing' column if needed
df = df.drop("Timing", axis=1)

In [104]:
df.columns

Index(['Course Name', 'Class & Program', 'Room No.', 'UMS Class  No.',
       'Teacher', 'Day ', 'Start Time', 'End Time'],
      dtype='object')

In [105]:
df

,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day,Start Time,End Time
0,Information Security and Ethics,BSCS-8,AUDITORIUM,96020,Dr. Irfan Nabi,Monday/Wednesday,8:30 AM,9:45 AM
1,NaN,NaN,EVENT HALL,NaN,NaN,Monday/Wednesday,8:30 AM,9:45 AM
2,Islamic Schalory Tradition,BSCS,MAC-1,96056,Dr. Wahab Suri,Monday/Wednesday,8:30 AM,9:45 AM
3,Financial Institutions and Markets,BBA-4,MAC-2,71189,Dr. Saqib Sharif,Monday/Wednesday,8:30 AM,9:45 AM
4,Institutional Economics,ECO - Elective,MAC-3,71273,Ms. Javeria Younas Abbas,Monday/Wednesday,8:30 AM,9:45 AM
...,...,...,...,...,...,...,...,...
1118,NaN,NaN,MTS 6,NaN,NaN,Friday/Saturday,7:00 PM,8:15 PM
1119,NaN,NaN,MTS 7,NaN,NaN,Friday/Saturday,7:00 PM,8:15 PM
1120,NaN,NaN,MTS 8,NaN,Reserved for Graduate,Friday/Saturday,7:00 PM,8:15 PM
1121,Parallel and Distributed Computing (Lab) Only ...,BSCS-6,MTL-4,95977,Dr. M. Saeed,Friday/Saturday,7:00 PM,8:15 PM
1122,NaN,NaN,NaN,NaN,NaN,Friday/Saturday,None,None

In [106]:
# Drop rows where 'UMS Class No.' column has NaN values
df = df.dropna(subset=["UMS Class  No."])

In [107]:
df

,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day,Start Time,End Time
0,Information Security and Ethics,BSCS-8,AUDITORIUM,96020,Dr. Irfan Nabi,Monday/Wednesday,8:30 AM,9:45 AM
2,Islamic Schalory Tradition,BSCS,MAC-1,96056,Dr. Wahab Suri,Monday/Wednesday,8:30 AM,9:45 AM
3,Financial Institutions and Markets,BBA-4,MAC-2,71189,Dr. Saqib Sharif,Monday/Wednesday,8:30 AM,9:45 AM
4,Institutional Economics,ECO - Elective,MAC-3,71273,Ms. Javeria Younas Abbas,Monday/Wednesday,8:30 AM,9:45 AM
5,Fundamentals of Supply Chain Management,MGMT Elective,MAC-4,71185,Mr. Adnan Ahmad,Monday/Wednesday,8:30 AM,9:45 AM
...,...,...,...,...,...,...,...,...
1073,Reserved for Graduate,NaN,MTS 8,96041,NaN,Friday/Saturday,5:30 PM,6:45 PM
1075,Parallel and Distributed Computing (Lab) Only ...,BSCS-6,MTL-4,96005,Dr. M. Saeed\n,Friday/Saturday,5:30 PM,6:45 PM
1085,International Business (BBA % BSAF) ...,MGT-E,MAC-8,75349,Mr. Umair Chowksy,Friday/Saturday,7:00 PM,8:15 PM
1111,Parallel and Distributed Computing Only Friday...,BSCS-6,MTC-23,96005,Dr. M. Saeed,Friday/Saturday,7:00 PM,8:15 PM
1121,Parallel and Distributed Computing (Lab) Only ...,BSCS-6,MTL-4,95977,Dr. M. Saeed,Friday/Saturday,7:00 PM,8:15 PM

In [108]:
# Filter rows where 'Course Name' contains 'Reserved for'
reserved_courses = df[
    df["Course Name"].str.contains("Reserved for", case=False, na=False)
]

# Display the filtered DataFrame
print(reserved_courses)

                                            Course Name Class & Program  \
492                     Reserved for Robotics Lab Class     CS Elective
514                          Reserved for MS marketing              NaN
539                     Reserved for Robotics lab Class     CS Elective
729                              Reserved for Graduate              NaN
730                              Reserved for Graduate              NaN
805    Reserved for Graduate Programs - Only for Friday             NaN
877   Reserved for  Dr. Jibran Rashid 'sTutorial Cla...          BSCS-6
878   Reserved for  Dr. Jibran Rashid 'sTutorial Cla...          BSCS-6
879   Reserved for  Dr. Jibran Rashid 'sTutorial Cla...          BSCS-6
880   Reserved for  Dr. Jibran Rashid 'sTutorial Cla...          BSCS-6
981                     Reserved for Graduate Programs              NaN
1073                              Reserved for Graduate             NaN

     Room No.          UMS Class  No.            Teacher              Day   \
492     MCL-2                   75923  Dr. Syed Ali Raza  Tuesday/Thrusday
514     MTS 8   Reserved for Graduate                NaN  Tuesday/Thrusday
539     MCL-2                   75923  Dr. Syed Ali Raza  Tuesday/Thrusday
729    MTC 16  Reserved for Graduate                 NaN  Tuesday/Thrusday
730    MTC-17  Reserved for Graduate                 NaN  Tuesday/Thrusday
805     MAS-1        Reserved for GPO                NaN   Friday/Saturday
877    MTC-21           75914 - 96037  Dr. Jibran Rashid   Friday/Saturday
878    MTC-22           75914 - 96037  Dr. Jibran Rashid   Friday/Saturday
879    MTC-23           75914 - 96037  Dr. Jibran Rashid   Friday/Saturday
880    MTC-24           75914 - 96037  Dr. Jibran Rashid   Friday/Saturday
981     MTS 8                   96041                NaN   Friday/Saturday
1073    MTS 8                   96041                NaN   Friday/Saturday

     Start Time  End Time
492    11:30 AM  12:45 PM
514    11:30 AM  12:45 PM
539     1:00 PM   2:15 PM
729     7:00 PM   8:15 PM
730     7:00 PM   8:15 PM
805    10:00 AM  11:15 AM
877    11:30 AM  12:45 PM
878    11:30 AM  12:45 PM
879    11:30 AM  12:45 PM
880    11:30 AM  12:45 PM
981     2:30 PM   3:45 PM
1073    5:30 PM   6:45 PM

In [109]:
course_name = "Introduction to Artificial Intelligence"
ai_courses = df.loc[df["Course Name"] == course_name]
print(ai_courses.shape[0])
ai_courses

4

,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day,Start Time,End Time
133,Introduction to Artificial Intelligence,BSCS-4,MTC 25,75911,Dr. Syed Ali Raza,Monday/Wednesday,11:30 AM,12:45 PM
213,Introduction to Artificial Intelligence,BSCS-4,MCS-3,71194,Ms. Sumaira Saeed,Monday/Wednesday,2:30 PM,3:45 PM
411,Introduction to Artificial Intelligence,BSCS-4,MTC-24,75913,Dr. Syed Ali Raza,Tuesday/Thrusday,8:30 AM,9:45 AM
462,Introduction to Artificial Intelligence,BSCS-4,MTC-28,75921,Ms. Sumaira Saeed,Tuesday/Thrusday,10:00 AM,11:15 AM

In [110]:
course_name = "Computer Communication & Networking"

# Filter out rows where "Course Name" is not null and contains the specified course name
ai_courses = df[
    df["Course Name"].notnull() & df["Course Name"].str.contains(course_name)
]
print(ai_courses.shape[0])
ai_courses

11

,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day,Start Time,End Time
169,Computer Communication & Networking,BSCS-4,MCS-5,75905,Mr. Waseem Arain,Monday/Wednesday,1:00 PM,2:15 PM
212,Computer Communication & Networking (lab) Only...,BSCS-4,MCL-3,75905,Mr. Waseem Arain,Monday/Wednesday,2:30 PM,3:45 PM
258,Computer Communication & Networking (lab) Only...,BSCS-4,MCL-3,75905,Mr. Waseem Arain,Monday/Wednesday,4:00 PM,5:15 PM
400,Computer Communication & Networking,BSCS-4,MCS-4,75912,Ms. Asma Tauqeer,Tuesday/Thrusday,8:30 AM,9:45 AM
439,Computer Communication & Networking (Lecture) ...,BSCS-4,MCC12,75904,Mr. Waseem Arain,Tuesday/Thrusday,10:00 AM,11:15 AM
442,Computer Communication & Networking,BSCS-4,MCC-15,75916,Ms.Tasbiha Fatima,Tuesday/Thrusday,10:00 AM,11:15 AM
445,Computer Communication & Networking (Lab) Only...,BSCS-4,MCL-3,75912\n75904,Ms. Asma Tauqeer\nMr. Waseem Arain,Tuesday/Thrusday,10:00 AM,11:15 AM
487,Computer Communication & Networking (Lecture) ...,BSCS-4,MCC12,75904,Mr. Waseem Arain,Tuesday/Thrusday,11:30 AM,12:45 PM
491,Computer Communication & Networking (Lab) Only...,BSCS-4,MCL-1,75916,Ms. Tasbhia Fatima\nMr. Waseem Arain\n,Tuesday/Thrusday,11:30 AM,12:45 PM
493,Computer Communication & Networking (Lab) Only...,BSCS-4,MCL-3,75912\n75904,Ms. Asma Tauqeer\nMr. Waseem Arain,Tuesday/Thrusday,11:30 AM,12:45 PM
538,Computer Communication & Networking (Lab) Only...,BSCS-4/ BSCS-3,MCL-1,75916,Ms. Tasbhia Fatima\n,Tuesday/Thrusday,1:00 PM,2:15 PM

In [111]:
course_name = "Computer Architecture and Assembly Language"
# Filter out rows where "Course Name" is not null and contains the specified course name
ai_courses = df[
    df["Course Name"].notnull() & df["Course Name"].str.contains(course_name)
]
print(ai_courses.shape[0])
ai_courses

12

,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day,Start Time,End Time
24,Computer Architecture and Assembly Language (L...,BSCS-4,MCL-3,71196,Dr. Salman Zafar,Monday/Wednesday,8:30 AM,9:45 AM
88,Computer Architecture and Assembly Language,BSCS-4,MTC-28,75903,Mr. Zain Uddin,Monday/Wednesday,10:00 AM,11:15 AM
93,Computer Architecture and Assembly Language (L...,BSCS-4,MCL-3,71196,Dr. Salman Zafar,Monday/Wednesday,10:00 AM,11:15 AM
117,Computer Architecture and Assembly Language (L...,BSCS-4,MCL-1,75903,Mr. Zain Uddin,Monday/Wednesday,11:30 AM,12:45 PM
141,Computer Architecture and Assembly Language (L...,BSCS-4,MTL-4,71196,Dr. Salman Zafar,Monday/Wednesday,11:30 AM,12:45 PM
164,Computer Architecture and Assembly Language (L...,BSCS-4,MCL-1,75903,Mr. Zain Uddin,Monday/Wednesday,1:00 PM,2:15 PM
467,Computer Architecture and Assembly Language,BSCS-4,MTL-4,75920,Dr. Salman Zafar,Tuesday/Thrusday,10:00 AM,11:15 AM
515,Computer Architecture and Assembly Language (L...,BSCS-4,MTL-4,75920,Ms. Mehwish Zafar,Tuesday/Thrusday,11:30 AM,12:45 PM
562,Computer Architecture and Assembly Language (L...,BSCS-4,MTL-4,75920,Ms. Mewish Zafar,Tuesday/Thrusday,1:00 PM,2:15 PM
603,Computer Architecture and Assembly Language,BSCS-4,MTC-28,95912,Dr. Salman Zafar,Tuesday/Thrusday,2:30 PM,3:45 PM
958,Computer Architecture and Assembly Language (L...,BSCS-4\n,MCL-1,95912\n95974,Ms. Mehwish Zafar\nMr. Rao M. Noman\n,Friday/Saturday,2:30 PM,3:45 PM
1004,Computer Architecture and Assembly Language (L...,BSCS-4\n,MCL-1,95912\n95974,Ms. Mehwish Zafar\nMr. Rao M. Noman,Friday/Saturday,4:00 PM,5:15 PM

In [112]:
course_name = "Introduction to Text Analytics"
ai_courses = df[
    df["Course Name"].notnull() & df["Course Name"].str.contains(course_name)
]
print(ai_courses.shape[0])
ai_courses

1

,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day,Start Time,End Time
25,Introduction to Text Analytics - Mega,CS Elective,MCS-3,96110 - 96111,Dr. Sajjad Haider,Monday/Wednesday,8:30 AM,9:45 AM

In [113]:
course_name = "Data Warehousing"
ai_courses = df[
    df["Course Name"].notnull() & df["Course Name"].str.contains(course_name)
]
print(ai_courses.shape[0])
ai_courses

2

,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day,Start Time,End Time
103,Data Warehousing,CS Elective,MAC 6,71290,Ms. Abeera Tariq,Monday/Wednesday,11:30 AM,12:45 PM
522,Data Warehousing,CS Elective,MAC-4,96181,Dr. Tariq Mehmood,Tuesday/Thrusday,1:00 PM,2:15 PM

In [114]:
courses = df[df["UMS Class  No."].notnull() & df["UMS Class  No."].str.contains("71196")]
courses

,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day,Start Time,End Time
24,Computer Architecture and Assembly Language (L...,BSCS-4,MCL-3,71196,Dr. Salman Zafar,Monday/Wednesday,8:30 AM,9:45 AM
93,Computer Architecture and Assembly Language (L...,BSCS-4,MCL-3,71196,Dr. Salman Zafar,Monday/Wednesday,10:00 AM,11:15 AM
141,Computer Architecture and Assembly Language (L...,BSCS-4,MTL-4,71196,Dr. Salman Zafar,Monday/Wednesday,11:30 AM,12:45 PM

In [115]:
lab_rows = courses[courses["Course Name"].str.contains("Lab")]
lab_rows

,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day,Start Time,End Time
24,Computer Architecture and Assembly Language (L...,BSCS-4,MCL-3,71196,Dr. Salman Zafar,Monday/Wednesday,8:30 AM,9:45 AM
93,Computer Architecture and Assembly Language (L...,BSCS-4,MCL-3,71196,Dr. Salman Zafar,Monday/Wednesday,10:00 AM,11:15 AM

In [116]:
lab_rows = courses[courses["Course Name"].str.contains("Lecture")]
lab_rows

,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day,Start Time,End Time
141,Computer Architecture and Assembly Language (L...,BSCS-4,MTL-4,71196,Dr. Salman Zafar,Monday/Wednesday,11:30 AM,12:45 PM

In [117]:
# check duplicates ,ifyes: name break find Lab/Lecture : Lab 2

In [118]:
# Create new columns for lab-related information
df["Labday"] = ""
df["Lab start time"] = ""
df["Lab end time"] = ""

/var/folders/g9/64n80gs13d13qhs7rbzhkps00000gn/T/ipykernel_13870/339628316.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Labday"] = ""
/var/folders/g9/64n80gs13d13qhs7rbzhkps00000gn/T/ipykernel_13870/339628316.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Lab start time"] = ""
/var/folders/g9/64n80gs13d13qhs7rbzhkps00000gn/T/ipykernel_13870/339628316.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Lab end time"] = ""

In [120]:
# Filter rows for the specific course "71196"
course_df = df[
    df["UMS Class  No."].notnull() & df["UMS Class  No."].str.contains("71196")
]

for ums_class_code, group_df in course_df[
    course_df.duplicated("UMS Class  No.", keep=False)
].groupby("UMS Class  No."):
    # Identify rows with "Lab" in the 'Course Name'
    lab_rows = group_df[group_df["Course Name"].str.contains("Lab")]

    if not lab_rows.empty:
        # Extract lab-related information
        lab_day_match = lab_rows["Course Name"].str.extract(r"Only (\w+)")
        lab_days = ", ".join(lab_day_match[0].unique())
        lab_start_time = min(lab_rows[["Start Time", "End Time"]].min(axis=1))
        lab_end_time = max(lab_rows[["Start Time", "End Time"]].max(axis=1))

        print(lab_days, lab_start_time, lab_end_time)

        # Update the original DataFrame with lab-related information
        df.loc[df["UMS Class  No."] == ums_class_code, "Labday"] = lab_days
        df.loc[df["UMS Class  No."] == ums_class_code, "Lab start time"] = (
            lab_start_time
        )
        df.loc[df["UMS Class  No."] == ums_class_code, "Lab end time"] = lab_end_time

# Drop duplicate rows keeping the last occurrence
df = df.drop_duplicates("UMS Class  No.", keep="last")

# Print the updated DataFrame for the specific course "71196"
df[df["UMS Class  No."].str.contains("71196")]

,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day,Start Time,End Time,Labday,Lab start time,Lab end time
141,Computer Architecture and Assembly Language (L...,BSCS-4,MTL-4,71196,Dr. Salman Zafar,Monday/Wednesday,11:30 AM,12:45 PM,Lab,10:00 AM,9:45 AM