In [492]:
import pandas as pd
import numpy as np

In [493]:
df = pd.read_csv('/Users/irtiza/Documents/Scheduke maker/schdule formatted.csv',header=0)

In [494]:
df

,Timing,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day
0,8:30 AM \nto \n9:45 AM,Information Security and Ethics,BSCS-8,AUDITORIUM,96020,Dr. Irfan Nabi,Monday/Wednesday
1,8:30 AM \nto \n9:45 AM,NaN,NaN,EVENT HALL,NaN,NaN,Monday/Wednesday
2,8:30 AM \nto \n9:45 AM,Islamic Schalory Tradition,BSCS,MAC-1,96056,Dr. Wahab Suri,Monday/Wednesday
3,8:30 AM \nto \n9:45 AM,Financial Institutions and Markets,BBA-4,MAC-2,71189,Dr. Saqib Sharif,Monday/Wednesday
4,8:30 AM \nto \n9:45 AM,Institutional Economics,ECO - Elective,MAC-3,71273,Ms. Javeria Younas Abbas,Monday/Wednesday
...,...,...,...,...,...,...,...
1118,7:00 PM\n to\n 8:15 PM,NaN,NaN,MTS 6,NaN,NaN,Friday/Saturday
1119,7:00 PM\n to\n 8:15 PM,NaN,NaN,MTS 7,NaN,NaN,Friday/Saturday
1120,7:00 PM\n to\n 8:15 PM,NaN,NaN,MTS 8,NaN,Reserved for Graduate,Friday/Saturday
1121,7:00 PM\n to\n 8:15 PM,Parallel and Distributed Computing (Lab) Only ...,BSCS-6,MTL-4,95977,Dr. M. Saeed,Friday/Saturday
1122,NaN,NaN,NaN,NaN,NaN,NaN,Friday/Saturday

In [495]:
print("Column names:", df.columns)

Column names: Index(['Timing', 'Course Name', 'Class & Program', 'Room No.',
       'UMS Class  No.', 'Teacher', 'Day '],
      dtype='object')

In [496]:
def split_timing(timing):
    if pd.notna(timing):  # Check for NaN values
        try:
            # Split the timing string into start and end times
            start, end = timing.replace("\n", "").split("to")
            return start.strip(), end.strip()
        except ValueError:
            # Handle the case where the split operation fails
            print(timing.replace("\n", "").split(" to "))
            return None, None
    else:
        return None, None

In [497]:
# Apply the split_timing function to create 'Start Time' and 'End Time' columns
df[["Start Time", "End Time"]] = df["Timing"].apply(split_timing).apply(pd.Series)

In [498]:
# Drop the original 'Timing' column if needed
df = df.drop("Timing", axis=1)

In [499]:
df.columns

Index(['Course Name', 'Class & Program', 'Room No.', 'UMS Class  No.',
       'Teacher', 'Day ', 'Start Time', 'End Time'],
      dtype='object')

In [500]:
df

,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day,Start Time,End Time
0,Information Security and Ethics,BSCS-8,AUDITORIUM,96020,Dr. Irfan Nabi,Monday/Wednesday,8:30 AM,9:45 AM
1,NaN,NaN,EVENT HALL,NaN,NaN,Monday/Wednesday,8:30 AM,9:45 AM
2,Islamic Schalory Tradition,BSCS,MAC-1,96056,Dr. Wahab Suri,Monday/Wednesday,8:30 AM,9:45 AM
3,Financial Institutions and Markets,BBA-4,MAC-2,71189,Dr. Saqib Sharif,Monday/Wednesday,8:30 AM,9:45 AM
4,Institutional Economics,ECO - Elective,MAC-3,71273,Ms. Javeria Younas Abbas,Monday/Wednesday,8:30 AM,9:45 AM
...,...,...,...,...,...,...,...,...
1118,NaN,NaN,MTS 6,NaN,NaN,Friday/Saturday,7:00 PM,8:15 PM
1119,NaN,NaN,MTS 7,NaN,NaN,Friday/Saturday,7:00 PM,8:15 PM
1120,NaN,NaN,MTS 8,NaN,Reserved for Graduate,Friday/Saturday,7:00 PM,8:15 PM
1121,Parallel and Distributed Computing (Lab) Only ...,BSCS-6,MTL-4,95977,Dr. M. Saeed,Friday/Saturday,7:00 PM,8:15 PM
1122,NaN,NaN,NaN,NaN,NaN,Friday/Saturday,None,None

In [501]:
# Drop rows where 'UMS Class No.' column has NaN values
df = df.dropna(subset=["UMS Class  No."])

In [502]:
# Convert Start Time and End Time to time format
df['Start Time'] = pd.to_datetime(df['Start Time'], format='%I:%M %p').dt.time
df['End Time'] = pd.to_datetime(df['End Time'], format='%I:%M %p').dt.time

/var/folders/g9/64n80gs13d13qhs7rbzhkps00000gn/T/ipykernel_1234/1222454486.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Start Time'] = pd.to_datetime(df['Start Time'], format='%I:%M %p').dt.time
/var/folders/g9/64n80gs13d13qhs7rbzhkps00000gn/T/ipykernel_1234/1222454486.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['End Time'] = pd.to_datetime(df['End Time'], format='%I:%M %p').dt.time

In [503]:
df

,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day,Start Time,End Time
0,Information Security and Ethics,BSCS-8,AUDITORIUM,96020,Dr. Irfan Nabi,Monday/Wednesday,08:30:00,09:45:00
2,Islamic Schalory Tradition,BSCS,MAC-1,96056,Dr. Wahab Suri,Monday/Wednesday,08:30:00,09:45:00
3,Financial Institutions and Markets,BBA-4,MAC-2,71189,Dr. Saqib Sharif,Monday/Wednesday,08:30:00,09:45:00
4,Institutional Economics,ECO - Elective,MAC-3,71273,Ms. Javeria Younas Abbas,Monday/Wednesday,08:30:00,09:45:00
5,Fundamentals of Supply Chain Management,MGMT Elective,MAC-4,71185,Mr. Adnan Ahmad,Monday/Wednesday,08:30:00,09:45:00
...,...,...,...,...,...,...,...,...
1073,Reserved for Graduate,NaN,MTS 8,96041,NaN,Friday/Saturday,17:30:00,18:45:00
1075,Parallel and Distributed Computing (Lab) Only ...,BSCS-6,MTL-4,96005,Dr. M. Saeed\n,Friday/Saturday,17:30:00,18:45:00
1085,International Business (BBA % BSAF) ...,MGT-E,MAC-8,75349,Mr. Umair Chowksy,Friday/Saturday,19:00:00,20:15:00
1111,Parallel and Distributed Computing Only Friday...,BSCS-6,MTC-23,96005,Dr. M. Saeed,Friday/Saturday,19:00:00,20:15:00
1121,Parallel and Distributed Computing (Lab) Only ...,BSCS-6,MTL-4,95977,Dr. M. Saeed,Friday/Saturday,19:00:00,20:15:00

In [504]:
# course_name = "Introduction to Artificial Intelligence"
# ai_courses = df.loc[df["Course Name"] == course_name]
# print(ai_courses.shape[0])
# ai_courses

In [505]:
# course_name = "Computer Communication & Networking"
# Filter out rows where "Course Name" is not null and contains the specified course name
# ai_courses = df[
#     df["Course Name"].notnull() & df["Course Name"].str.contains(course_name)
# ]
# print(ai_courses.shape[0])
# ai_courses

In [506]:
# course_name = "Computer Architecture and Assembly Language"
# Filter out rows where "Course Name" is not null and contains the specified course name
# ai_courses = df[
#     df["Course Name"].notnull() & df["Course Name"].str.contains(course_name)
# ]
# print(ai_courses.shape[0])
# ai_courses

In [507]:
# course_name = "Introduction to Text Analytics"
# ai_courses = df[
#     df["Course Name"].notnull() & df["Course Name"].str.contains(course_name)
# ]
# print(ai_courses.shape[0])
# ai_courses

In [508]:
# course_name = "Data Warehousing"
# ai_courses = df[
#     df["Course Name"].notnull() & df["Course Name"].str.contains(course_name)
# ]
# print(ai_courses.shape[0])
# ai_courses

In [509]:
# courses = df[df["UMS Class  No."].notnull() & df["UMS Class  No."].str.contains("71196")]
# courses

In [510]:
# lab_rows = courses[courses["Course Name"].str.contains("Lab")]
# lab_rows

In [511]:
# lab_rows = courses[courses["Course Name"].str.contains("Lecture")]
# lab_rows

In [512]:
# check duplicates ,ifyes: name break find Lab/Lecture : Lab 2

In [513]:
# Create new columns for lab-related information
df["Labday"] = ""
df["Lab start time"] = ""
df["Lab end time"] = ""

/var/folders/g9/64n80gs13d13qhs7rbzhkps00000gn/T/ipykernel_1234/339628316.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Labday"] = ""
/var/folders/g9/64n80gs13d13qhs7rbzhkps00000gn/T/ipykernel_1234/339628316.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Lab start time"] = ""
/var/folders/g9/64n80gs13d13qhs7rbzhkps00000gn/T/ipykernel_1234/339628316.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Lab end time"] = ""

In [514]:
# Filter rows for the specific course "71196"
# course_df = df[
#     df["UMS Class  No."].notnull() & df["UMS Class  No."].str.contains("71196")
# ]

# for ums_class_code, group_df in course_df[
#     course_df.duplicated("UMS Class  No.", keep=False)
# ].groupby("UMS Class  No."):
    # # Identify rows with "Lab" in the 'Course Name'
    # lab_rows = group_df[group_df["Course Name"].str.contains("Lab")]

    # if not lab_rows.empty:
        # Extract lab-related information
        # lab_day_match = lab_rows["Course Name"].str.extract(r"Only (\w+)")
        # print(lab_day_match)
        # lab_days = ", ".join(lab_day_match[0].unique())
        # print(lab_days)
        # lab_start_time = min(lab_rows[["Start Time", "End Time"]].min(axis=1))
        # print(lab_start_time)
        # lab_end_time = max(lab_rows[["Start Time", "End Time"]].max(axis=1))
        # print(lab_end_time)

        # print(lab_days, lab_start_time, lab_end_time)

        # Update the original DataFrame with lab-related information
        # df.loc[df["UMS Class  No."] == ums_class_code, "Labday"] = lab_days
        # df.loc[df["UMS Class  No."] == ums_class_code, "Lab start time"] = (
        #     lab_start_time
        # )
        # df.loc[df["UMS Class  No."] == ums_class_code, "Lab end time"] = lab_end_time

# Drop duplicate rows keeping the last occurrence
# df = df.drop_duplicates("UMS Class  No.", keep="last")

# Print the updated DataFrame for the specific course "71196"
# df[df["UMS Class  No."].str.contains("71196")]

In [515]:
null_course_rows = df[df["Course Name"].isnull()]
null_course_rows

,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day,Start Time,End Time,Labday,Lab start time,Lab end time
599,NaN,NaN,MTC-24,75353,NaN,Tuesday/Thrusday,14:30:00,15:45:00,,,
746,NaN,NaN,MTS 8,Reserved for Graduate,NaN,Tuesday/Thrusday,19:00:00,20:15:00,,,
969,NaN,MSCS/DS,MTC-20A,96033,Mr. Shahab,Friday/Saturday,14:30:00,15:45:00,,,
1027,NaN,NaN,MTS 8,96041,NaN,Friday/Saturday,16:00:00,17:15:00,,,

In [516]:
df = df.dropna(subset=["Course Name"])

In [517]:
# to check if no important row was removed after the following function
unique_ums_code_sum = df["UMS Class  No."].nunique()
unique_ums_code_sum

372

In [518]:
# Initialize counters
affected_rows_count = 0
updated_rows_count = 0

In [519]:
# Create a new DataFrame to store the updated rows
updated_df = pd.DataFrame(columns=df.columns)

In [520]:
# Iterate over each UMS Class No.
for ums_class_code, group_df in df[df["UMS Class  No."].notnull()].groupby(
    "UMS Class  No."
):
# Identify rows with "Lab" in the 'Course Name'
lab_rows = group_df[group_df["Course Name"].str.contains("Lab")]

if not lab_rows.empty:  # Use .empty directly
# Extract lab-related information
lab_day_match = lab_rows["Course Name"].str.extract(r"Only (\w+)")
lab_days = ", ".join(lab_day_match[0].dropna().astype(str).unique())
lab_start_time = min(lab_rows[["Start Time", "End Time"]].min(axis=1))
lab_end_time = max(lab_rows[["Start Time", "End Time"]].max(axis=1))

# print(lab_days, lab_start_time, lab_end_time)

Update the original DataFrame with lab-related information
df.loc[df["UMS Class  No."] == ums_class_code, "Labday"] = lab_days
df.loc[df["UMS Class  No."] == ums_class_code, "Lab start time"] = (
    lab_start_time
)
df.loc[df["UMS Class  No."] == ums_class_code, "Lab end time"] = lab_end_time

# Append the updated rows to the new DataFrame
updated_df = pd.concat([updated_df, lab_rows], ignore_index=True)

# Update counters
affected_rows_count += len(group_df)
updated_rows_count += len(lab_rows)

IndentationError: expected an indented block (65303269.py, line 6)

In [ ]:
# Drop duplicate rows keeping the last occurrence
df = df.drop_duplicates("UMS Class  No.", keep="last")

In [ ]:
# Print summary information
print(f"Total affected rows: {affected_rows_count}")
print(f"Total updated rows: {updated_rows_count}")

Total affected rows: 82
Total updated rows: 82

In [ ]:
# Display the updated DataFrame
df

,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day,Start Time,End Time,Labday,Lab start time,Lab end time
0,Information Security and Ethics,BSCS-8,AUDITORIUM,96020,Dr. Irfan Nabi,Monday/Wednesday,08:30:00,09:45:00,,,
2,Islamic Schalory Tradition,BSCS,MAC-1,96056,Dr. Wahab Suri,Monday/Wednesday,08:30:00,09:45:00,,,
3,Financial Institutions and Markets,BBA-4,MAC-2,71189,Dr. Saqib Sharif,Monday/Wednesday,08:30:00,09:45:00,,,
4,Institutional Economics,ECO - Elective,MAC-3,71273,Ms. Javeria Younas Abbas,Monday/Wednesday,08:30:00,09:45:00,,,
5,Fundamentals of Supply Chain Management,MGMT Elective,MAC-4,71185,Mr. Adnan Ahmad,Monday/Wednesday,08:30:00,09:45:00,,,
...,...,...,...,...,...,...,...,...,...,...,...
1038,Fundamentals of E-Commerce,MKT-E,MAC-8,75351,Ms. Rakshanda Mustafa,Friday/Saturday,17:30:00,18:45:00,,,
1073,Reserved for Graduate,NaN,MTS 8,96041,NaN,Friday/Saturday,17:30:00,18:45:00,,,
1085,International Business (BBA % BSAF) ...,MGT-E,MAC-8,75349,Mr. Umair Chowksy,Friday/Saturday,19:00:00,20:15:00,,,
1111,Parallel and Distributed Computing Only Friday...,BSCS-6,MTC-23,96005,Dr. M. Saeed,Friday/Saturday,19:00:00,20:15:00,Saturday,17:30:00,18:45:00
1121,Parallel and Distributed Computing (Lab) Only ...,BSCS-6,MTL-4,95977,Dr. M. Saeed,Friday/Saturday,19:00:00,20:15:00,Saturday,19:00:00,20:15:00

In [ ]:
# to check if no important row was removed after the following function
unique_ums_code_sum = df["UMS Class  No."].nunique()
unique_ums_code_sum
# 372 equal similar ums code / means dealt well

372

In [ ]:
# remeber ums code is string
ums_code_95937_rows = df[df["UMS Class  No."] == "95937"]
ums_code_95937_rows

,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day,Start Time,End Time,Labday,Lab start time,Lab end time
1003,Web Based Application Development Only Friday...,CS Elective,MCC-15,95937,Mr. Sami Ul Ahbab,Friday/Saturday,16:00:00,17:15:00,,,

In [ ]:
web_dev_courses = df[
    df["Course Name"].str.contains(
        "Web Based Application Development  Only Friday", case=False, na=False
    )
]
web_dev_courses

,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day,Start Time,End Time,Labday,Lab start time,Lab end time
1003,Web Based Application Development Only Friday...,CS Elective,MCC-15,95937,Mr. Sami Ul Ahbab,Friday/Saturday,16:00:00,17:15:00,,,

In [ ]:
updated_df

,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day,Start Time,End Time,Labday,Lab start time,Lab end time
0,Chinese -II (Lab) Monday Only,BBA-6,MCC-10,71192,Mr. Mirza Qaisar Ahmed Baig,Monday/Wednesday,10:00:00,11:15:00,,,
1,Chinese -II,BBA-6,MCC-10,71192,Mr. Mirza Qaisar Ahmed Baig,Monday/Wednesday,08:30:00,09:45:00,,,
2,Computer Architecture and Assembly Language (L...,BSCS-4,MCL-3,71196,Dr. Salman Zafar,Monday/Wednesday,08:30:00,09:45:00,,,
3,Computer Architecture and Assembly Language (L...,BSCS-4,MCL-3,71196,Dr. Salman Zafar,Monday/Wednesday,10:00:00,11:15:00,,,
4,Computer Architecture and Assembly Language (L...,BSCS-4,MTL-4,71196,Dr. Salman Zafar,Monday/Wednesday,11:30:00,12:45:00,,,
...,...,...,...,...,...,...,...,...,...,...,...
77,Data Structure,BSCS-3,MTC-24,96044,Ms. Solat Jabeen,Friday/Saturday,10:00:00,11:15:00,,,
78,Arabic - I (Lab Tuesday Only ),All programs,MTS 6,96166,Mr. Ubaid-ur- Rehman\n,Monday/Wednesday,16:00:00,17:15:00,,,
79,Arabic - I,All programs,MTS 6,96166,Mr. Ubaid-ur- Rehman\n,Monday/Wednesday,14:30:00,15:45:00,,,
80,Arabic-II (Lab Tuesday Only ),All programs,MTS 7,96167,Mr. Abdullah M. Yousujf Khan,Tuesday/Thrusday,16:00:00,17:15:00,,,
81,Arabic-II,All programs,MTS 7,96167,TBA,Tuesday/Thrusday,14:30:00,15:45:00,,,