In [32]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv('/Users/irtiza/Documents/Scheduke maker/schdule formatted.csv',header=0)

In [34]:
df

,Timing,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day
0,8:30 AM \nto \n9:45 AM,Information Security and Ethics,BSCS-8,AUDITORIUM,96020,Dr. Irfan Nabi,Monday/Wednesday
1,8:30 AM \nto \n9:45 AM,NaN,NaN,EVENT HALL,NaN,NaN,Monday/Wednesday
2,8:30 AM \nto \n9:45 AM,Islamic Schalory Tradition,BSCS,MAC-1,96056,Dr. Wahab Suri,Monday/Wednesday
3,8:30 AM \nto \n9:45 AM,Financial Institutions and Markets,BBA-4,MAC-2,71189,Dr. Saqib Sharif,Monday/Wednesday
4,8:30 AM \nto \n9:45 AM,Institutional Economics,ECO - Elective,MAC-3,71273,Ms. Javeria Younas Abbas,Monday/Wednesday
...,...,...,...,...,...,...,...
1118,7:00 PM\n to\n 8:15 PM,NaN,NaN,MTS 6,NaN,NaN,Friday/Saturday
1119,7:00 PM\n to\n 8:15 PM,NaN,NaN,MTS 7,NaN,NaN,Friday/Saturday
1120,7:00 PM\n to\n 8:15 PM,NaN,NaN,MTS 8,NaN,Reserved for Graduate,Friday/Saturday
1121,7:00 PM\n to\n 8:15 PM,Parallel and Distributed Computing (Lab) Only ...,BSCS-6,MTL-4,95977,Dr. M. Saeed,Friday/Saturday
1122,NaN,NaN,NaN,NaN,NaN,NaN,Friday/Saturday

In [35]:
print("Column names:", df.columns)

Column names: Index(['Timing', 'Course Name', 'Class & Program', 'Room No.',
       'UMS Class  No.', 'Teacher', 'Day '],
      dtype='object')