In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('/Users/irtiza/Documents/Scheduke maker/schdule formatted.csv',header=0)

In [11]:
df

,Timing,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day
0,8:30 AM \nto \n9:45 AM,Information Security and Ethics,BSCS-8,AUDITORIUM,96020,Dr. Irfan Nabi,Monday/Wednesday
1,8:30 AM \nto \n9:45 AM,NaN,NaN,EVENT HALL,NaN,NaN,Monday/Wednesday
2,8:30 AM \nto \n9:45 AM,Islamic Schalory Tradition,BSCS,MAC-1,96056,Dr. Wahab Suri,Monday/Wednesday
3,8:30 AM \nto \n9:45 AM,Financial Institutions and Markets,BBA-4,MAC-2,71189,Dr. Saqib Sharif,Monday/Wednesday
4,8:30 AM \nto \n9:45 AM,Institutional Economics,ECO - Elective,MAC-3,71273,Ms. Javeria Younas Abbas,Monday/Wednesday
...,...,...,...,...,...,...,...
1118,7:00 PM\n to\n 8:15 PM,NaN,NaN,MTS 6,NaN,NaN,Friday/Saturday
1119,7:00 PM\n to\n 8:15 PM,NaN,NaN,MTS 7,NaN,NaN,Friday/Saturday
1120,7:00 PM\n to\n 8:15 PM,NaN,NaN,MTS 8,NaN,Reserved for Graduate,Friday/Saturday
1121,7:00 PM\n to\n 8:15 PM,Parallel and Distributed Computing (Lab) Only ...,BSCS-6,MTL-4,95977,Dr. M. Saeed,Friday/Saturday
1122,NaN,NaN,NaN,NaN,NaN,NaN,Friday/Saturday

In [12]:
print("Column names:", df.columns)

Column names: Index(['Timing', 'Course Name', 'Class & Program', 'Room No.',
       'UMS Class  No.', 'Teacher', 'Day '],
      dtype='object')

In [22]:
def split_timing(timing):
    if pd.notna(timing):  # Check for NaN values
        try:
            # Split the timing string into start and end times
            start, end = timing.replace("\n", "").split("to")
            return start.strip(), end.strip()
        except ValueError:
            # Handle the case where the split operation fails
            print(timing.replace("\n", "").split(" to "))
            return None, None
    else:
        return None, None

In [23]:
# Apply the split_timing function to create 'Start Time' and 'End Time' columns
df[["Start Time", "End Time"]] = df["Timing"].apply(split_timing).apply(pd.Series)

In [25]:
# Drop the original 'Timing' column if needed
df = df.drop("Timing", axis=1)

In [24]:
df.columns

Index(['Timing', 'Course Name', 'Class & Program', 'Room No.',
       'UMS Class  No.', 'Teacher', 'Day ', 'Start Time', 'End Time'],
      dtype='object')

In [26]:
df

,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day,Start Time,End Time
0,Information Security and Ethics,BSCS-8,AUDITORIUM,96020,Dr. Irfan Nabi,Monday/Wednesday,8:30 AM,9:45 AM
1,NaN,NaN,EVENT HALL,NaN,NaN,Monday/Wednesday,8:30 AM,9:45 AM
2,Islamic Schalory Tradition,BSCS,MAC-1,96056,Dr. Wahab Suri,Monday/Wednesday,8:30 AM,9:45 AM
3,Financial Institutions and Markets,BBA-4,MAC-2,71189,Dr. Saqib Sharif,Monday/Wednesday,8:30 AM,9:45 AM
4,Institutional Economics,ECO - Elective,MAC-3,71273,Ms. Javeria Younas Abbas,Monday/Wednesday,8:30 AM,9:45 AM
...,...,...,...,...,...,...,...,...
1118,NaN,NaN,MTS 6,NaN,NaN,Friday/Saturday,7:00 PM,8:15 PM
1119,NaN,NaN,MTS 7,NaN,NaN,Friday/Saturday,7:00 PM,8:15 PM
1120,NaN,NaN,MTS 8,NaN,Reserved for Graduate,Friday/Saturday,7:00 PM,8:15 PM
1121,Parallel and Distributed Computing (Lab) Only ...,BSCS-6,MTL-4,95977,Dr. M. Saeed,Friday/Saturday,7:00 PM,8:15 PM
1122,NaN,NaN,NaN,NaN,NaN,Friday/Saturday,None,None

In [28]:
# Drop rows where 'UMS Class No.' column has NaN values
df = df.dropna(subset=["UMS Class  No."])

In [29]:
df

,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day,Start Time,End Time
0,Information Security and Ethics,BSCS-8,AUDITORIUM,96020,Dr. Irfan Nabi,Monday/Wednesday,8:30 AM,9:45 AM
2,Islamic Schalory Tradition,BSCS,MAC-1,96056,Dr. Wahab Suri,Monday/Wednesday,8:30 AM,9:45 AM
3,Financial Institutions and Markets,BBA-4,MAC-2,71189,Dr. Saqib Sharif,Monday/Wednesday,8:30 AM,9:45 AM
4,Institutional Economics,ECO - Elective,MAC-3,71273,Ms. Javeria Younas Abbas,Monday/Wednesday,8:30 AM,9:45 AM
5,Fundamentals of Supply Chain Management,MGMT Elective,MAC-4,71185,Mr. Adnan Ahmad,Monday/Wednesday,8:30 AM,9:45 AM
...,...,...,...,...,...,...,...,...
1073,Reserved for Graduate,NaN,MTS 8,96041,NaN,Friday/Saturday,5:30 PM,6:45 PM
1075,Parallel and Distributed Computing (Lab) Only ...,BSCS-6,MTL-4,96005,Dr. M. Saeed\n,Friday/Saturday,5:30 PM,6:45 PM
1085,International Business (BBA % BSAF) ...,MGT-E,MAC-8,75349,Mr. Umair Chowksy,Friday/Saturday,7:00 PM,8:15 PM
1111,Parallel and Distributed Computing Only Friday...,BSCS-6,MTC-23,96005,Dr. M. Saeed,Friday/Saturday,7:00 PM,8:15 PM
1121,Parallel and Distributed Computing (Lab) Only ...,BSCS-6,MTL-4,95977,Dr. M. Saeed,Friday/Saturday,7:00 PM,8:15 PM

In [30]:
# Filter rows where 'Course Name' contains 'Reserved for'
reserved_courses = df[
    df["Course Name"].str.contains("Reserved for", case=False, na=False)
]

# Display the filtered DataFrame
print(reserved_courses)

                                            Course Name Class & Program  \
492                     Reserved for Robotics Lab Class     CS Elective
514                          Reserved for MS marketing              NaN
539                     Reserved for Robotics lab Class     CS Elective
729                              Reserved for Graduate              NaN
730                              Reserved for Graduate              NaN
805    Reserved for Graduate Programs - Only for Friday             NaN
877   Reserved for  Dr. Jibran Rashid 'sTutorial Cla...          BSCS-6
878   Reserved for  Dr. Jibran Rashid 'sTutorial Cla...          BSCS-6
879   Reserved for  Dr. Jibran Rashid 'sTutorial Cla...          BSCS-6
880   Reserved for  Dr. Jibran Rashid 'sTutorial Cla...          BSCS-6
981                     Reserved for Graduate Programs              NaN
1073                              Reserved for Graduate             NaN

     Room No.          UMS Class  No.            Teacher              Day   \
492     MCL-2                   75923  Dr. Syed Ali Raza  Tuesday/Thrusday
514     MTS 8   Reserved for Graduate                NaN  Tuesday/Thrusday
539     MCL-2                   75923  Dr. Syed Ali Raza  Tuesday/Thrusday
729    MTC 16  Reserved for Graduate                 NaN  Tuesday/Thrusday
730    MTC-17  Reserved for Graduate                 NaN  Tuesday/Thrusday
805     MAS-1        Reserved for GPO                NaN   Friday/Saturday
877    MTC-21           75914 - 96037  Dr. Jibran Rashid   Friday/Saturday
878    MTC-22           75914 - 96037  Dr. Jibran Rashid   Friday/Saturday
879    MTC-23           75914 - 96037  Dr. Jibran Rashid   Friday/Saturday
880    MTC-24           75914 - 96037  Dr. Jibran Rashid   Friday/Saturday
981     MTS 8                   96041                NaN   Friday/Saturday
1073    MTS 8                   96041                NaN   Friday/Saturday

     Start Time  End Time
492    11:30 AM  12:45 PM
514    11:30 AM  12:45 PM
539     1:00 PM   2:15 PM
729     7:00 PM   8:15 PM
730     7:00 PM   8:15 PM
805    10:00 AM  11:15 AM
877    11:30 AM  12:45 PM
878    11:30 AM  12:45 PM
879    11:30 AM  12:45 PM
880    11:30 AM  12:45 PM
981     2:30 PM   3:45 PM
1073    5:30 PM   6:45 PM

In [41]:
course_name = "Introduction to Artificial Intelligence"
ai_courses = df.loc[df["Course Name"] == course_name]
print(ai_courses.shape[0])
ai_courses

4

,Course Name,Class & Program,Room No.,UMS Class No.,Teacher,Day,Start Time,End Time
133,Introduction to Artificial Intelligence,BSCS-4,MTC 25,75911,Dr. Syed Ali Raza,Monday/Wednesday,11:30 AM,12:45 PM
213,Introduction to Artificial Intelligence,BSCS-4,MCS-3,71194,Ms. Sumaira Saeed,Monday/Wednesday,2:30 PM,3:45 PM
411,Introduction to Artificial Intelligence,BSCS-4,MTC-24,75913,Dr. Syed Ali Raza,Tuesday/Thrusday,8:30 AM,9:45 AM
462,Introduction to Artificial Intelligence,BSCS-4,MTC-28,75921,Ms. Sumaira Saeed,Tuesday/Thrusday,10:00 AM,11:15 AM